body {
  width: 400px;
  background-color: #f5f5f5;
  font-family: sans-serif;
}
.header {
  background-color: #2E353D;
}
.tittle {
  color: white;
  font-family: sans-serif;
  display: inline-block;
  font-size: 15px;
  padding: 0px 25px;
}
a {
  text-decoration: none;
}
.mdl-card{
    min-width: 350px;
    min-height: 150px;
}
img{
  width:95px;
  padding: 10px;
}
#sign-out-desc{
    padding-top: 15px;
}